

.e-panel-container{
 height: 100% !important;
}


.e-circulargauge{
  height: 90% !important;
  width: 100% !important;
  
  ;
}

.css-r6z5ec{
  z-index: 999 !important;
  display: block;
  overflow: visible !important;
  position: relative;
}

